@using DemoWebApp.ViewModels
@model DemoWebApp.ViewModels.BookViewModel
@{
    ViewData["Title"] = "List Books";
}
<h1>@ViewData["Title"]</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <h6 class="card-subtitle mb-2 text-muted">PublicationYear: @Model.PublicationYear</h6>
        <p class="card-text">Some description of the selected book</p>
        @*<a href="#" class="card-link">Add To Selection</a>*@
    </div>
</div>
